name: Manual run e2e test

on:
  pull_request:
    types: [opened]
  issue_comment:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: khan/pull-request-comment-trigger@master
        id: check-comment
        with:
          trigger: 'e2e'
          reaction: rocket
          prefix_only: true
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'

      - name: Check user permission
        id: check-permission
        uses: scherermichael-oss/action-has-permission@master
        with:
          required-permission: write
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout Pull Request
        if: steps.check-comment.outputs.triggered == 'true' && steps.check-permission.outputs.has-permission
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PR_URL="${{ github.event.issue.pull_request.url }}"
          PR_NUM=${PR_URL##*/}
          echo "Checking out from PR #$PR_NUM based on URL: $PR_URL"
          hub pr checkout $PR_NUM

      - name: Checkout Pull Request
        if: steps.check-comment.outputs.triggered == 'true' && steps.check-permission.outputs.has-permission
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        id: checkout
        run: |
          PR_URL="${{ github.event.issue.pull_request.url }}"
          PR_NUM=${PR_URL##*/}
          echo "Checking out from PR #$PR_NUM based on URL: $PR_URL"
          hub pr checkout $PR_NUM
          echo "::set-output name=pr_num::$PR_NUM"

      - name: Run only if user has sufficient permissions
        if: steps.check-comment.outputs.triggered == 'true' && steps.check-permission.outputs.has-permission        
        run: echo "${{ steps.checkout.outputs.pr_num }}"
        
      - name: React to comment
        uses: dkershner6/reaction-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commentId: ${{ github.event.comment.id }}
          reaction: "hooray" # Optional, defaults to +1


